@using Framework.Web.HtmlHelpers
@inject Framework.Infrastructure.Config.IBaseConfiguration config

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LogViewer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/lib/ionicons/css/ionicons.css">

    <link href="~/lib-custom/google-fonts/google-fonts.css" rel="stylesheet" type="text/css">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/lib/admin-lte/dist/css/skins/skin-red.min.css">

    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">    

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/lib-custom/search.js/lib/css/icons.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="~/lib-custom/search.js/lib/css/workspace.css" type="text/css" media="screen" charset="utf-8">
    

    <!-- jQuery 2.1.4 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Moment.js -->
    <script src="~/lib/moment/min/moment.min.js"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/lib/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/lib/admin-lte/plugins/fastclick/fastclick.js"></script>

    <script src="~/lib/admin-lte/plugins/select2/select2.full.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/lib/admin-lte/plugins/datepicker/bootstrap-datepicker.js"></script>


    <script src="~/lib-custom/search.js/vendor/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/jquery.ui.widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/jquery.ui.position.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/jquery.ui.menu.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/jquery.ui.autocomplete.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/underscore-1.4.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib-custom/search.js/vendor/backbone.js" type="text/javascript" charset="utf-8"></script>


    <script src="~/lib-custom/search.js/lib/js/search.js" type="text/javascript" charset="utf-8"></script>

    <!-- AdminLTE App -->
    <script src="~/js/app.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/lib/html5shiv/dist/html5shiv.js"></script>
        <script src="/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-red layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="header">
                        <div id="quick-search">
                        </div>
                        <h4 class="whitetxt_h1">@config.AppName</h4>
                        <div id="main-menu">
                            <ul>
                                <li><a href="/dashboard" class="overview @(Model.ActiveTab == 1 ? " selected" : "")">Dashboard</a></li>
                                <li><a href="/app-logs" class="issues @(Model.ActiveTab == 2 ? " selected" : "")">App Logs</a></li>
                                <li><a href="/performance-logs" class="new-issue @(Model.ActiveTab == 3 ? " selected" : "")">Performance Logs</a></li>
                                <li><a href="/web-logs" class="new-issue @(Model.ActiveTab == 4 ? " selected" : "")">Web Logs</a></li>
                                <li><a href="/system-logs" class="new-issue @(Model.ActiveTab == 5 ? " selected" : "")">System Logs</a></li>
                                <li><a href="/stats" class="new-issue @(Model.ActiveTab == 6 ? " selected" : "")">Stats</a></li>
                                <li><a href="/admin" class="new-issue @(Model.ActiveTab == 7 ? " selected" : "")">Administration</a></li>
                                <li><a href="/options" class="new-issue @(Model.ActiveTab == 8 ? " selected" : "")">Options</a></li>
                            </ul>
                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

        @RenderBody()

        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <strong>Copyright &copy; 2017 <a href="#">Guru Kathiresan</a>.</strong> All rights reserved.
            </div><!-- /.container -->
        </footer>
    </div><!-- ./wrapper -->

    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

</body>
</html>
