@using Framework.Web.HtmlHelpers
@model Framework.Infrastructure.Models.Result.ReturnListWithSearchModel<LogR.Common.Models.Logs.AppLog, LogR.Common.Models.Search.AppLogSearchCriteria>

<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                App Logs
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">App Logs</li>
            </ol>
        </section>

        <!----------Breadcrumb------------>
        <section class="bg row">
            <div class="col-md-12">
                <div class="row">
                    @Html.Partial("_NewMessage", @Model)
                    <div class="well clearfix">
                        <form id="frmFilter" action="/app-logs" method="get" onkeypress="return submitForm(event)">
                            <div id="search_box_container"></div>
                            <div class="col-md-2 pull-right form-group">
                                <input id="sortby" name="sortby" value="@Model.Search.SortBy" class="form-control" type="hidden">
                                <input id="sortascending" name="sortascending" value="@Model.Search.SortAscending" class="form-control" type="hidden">
                                <input id="pageSize" name="pageSize" value="@Model.Search.PageSize" class="form-control" type="hidden">
                                <div class="controls pull-right btn-margin-top">
                                    <input value="Filter Results" class="btn btn-primary form-control" type="submit">
                                    <input id="reset" value="Reset" class="btn btn-default form-control" type="reset">
                                </div>
                            </div>
                            <div id="search_query">&nbsp;</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            
                                        

                                <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:20px" class="action-cell">
                                            <input class="sr-only" type="checkbox" id="selectIDAll">
                                        </th>

                                        <th style="width:90px">@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "Longdate" }, { "DisplayName", "Date" } })</th>
                                        <th style="width:75px">@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "Severity" }, { "DisplayName", "Severity" } })</thstyle="width:100px">
                                        <th style="width:50px">@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "MachineName" }, { "DisplayName", "MachineName" } })</thstyle="width:50px">
                                        <th style="width:50px" >@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "App" }, { "DisplayName", "App" } })</thstyle="width:50px">
                                        <th style="width:50px">@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "RemoteAddress" }, { "DisplayName", "Ip" } })</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Current in Model.Model)
                                    {
                                    <tr>
                                        <td class="action-cell"><input id="selectID" name="selectID" type="checkbox" value="@Current.LogId"  data-json='{"IngestJobId": "@Current.LogId"}' /></td>
                                            <td>@Current.Longdate.ToLocalTime()</td>
                                            <td><span class="label @Html.Partial("_logtypeclass",Current.Severity)">@Current.Severity</span></td>
                                            <td>@Current.MachineName</td>
                                            <td>@Current.App</td>
                                            <td>@Current.RemoteAddress <br><span class="label label-success"> @Current.UserIdentity </span></td>
                                            <td>@Current.Message <br/> <p><small>Time : <span class="label label-info"> @Current.ElapsedTime </span> Process : <span class="label label-success"> @Current.ProcessId </span> Thread : <span class="label label-info"> @Current.ThreadId </span> Function : <span class="label label-success"> @Current.CurrentFunction </span></small></p></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            @Html.Partial("_Pager", Model.Search)
                        </div>
                    </div>
                    <!-- /.box -->
                </div>

            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.container -->
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div><!-- /.content-wrapper -->


<script type="text/javascript">

    ///////////////////////SelectAll///////////////////////
    var setCustomActionStatus = function (status) {
        $('#custom-action-btn').prop('disabled', status);
        var _isDisable = true;
        if (status) {
            $('input[name=selectID]').each(function () {
                if (this.checked) {
                    _isDisable = false;
                    return;
                }
            });
            if (_isDisable) {
                $("#custom-action-btn").attr("disabled", 'disabled');
                $("#custom-action-btn").removeClass('btn-blue').addClass('btn-black');
            }
        }
        else {
            $('#custom-action-btn').attr('disabled', false);
            $("#custom-action-btn").removeClass('btn-black').addClass('btn-blue');
        }
    };

    $("#selectIDAll").on("change", function () {
        var status = $(this).is(':checked');
        $('#custom-action-btn .dropdown-toggle').prop('disabled', !status);
        $('input[name=selectID]').each(function () {
            this.checked = status;
        });
        setCustomActionStatus(!status);
    });
    $("input[name=selectID]").on("change", function () {
        var status = $(this).is(":checked");
        setCustomActionStatus(!status);
    });
    ///////////////////////SelectAll///////////////////////

    $(document).ready(function () {
        var FromDate = $('#FromDate').datetimepicker({
            format: "mm/dd/yyyy",
        }).on('changeDate', function (ev) {
            FromDate.hide();
        }).data('datetimepicker');
        var ToDate = $('#ToDate').datetimepicker({
            format: "mm/dd/yyyy"
        }).on('changeDate', function (ev) {
            ToDate.hide();
        }).data('datetimepicker');

        $('input[name=selectID]').each(function () {
            this.checked = false;
        });
        $('input[name=selectIDAll]').each(function () {
            this.checked = false;
        });
        //
        $('#selectIDAll').prop("checked", false);
        setCustomActionStatus(true);
    });
</script>

<script type="text/javascript" charset="utf-8">
        $(function () {
            window.visualSearch = new VisualSearch({
                el: $('#search_box_container'),
                placeholder: "Customizable Placeholder!",
                strict: false,	//Strict Parameters, strict values?
                search: function (json) {
                    $("div#search_query").html(json);
                },
                parameters: [
                    {
                        key: "Date",
                        category: "Date Range",
                        placeholder: "Log Date",
                        type: "date",
                        min: 1,
                        max: 10
                    },
                    {
                        key: "LogLevel",
                        placeholder: "Log Level",
                        operators: [
							"is",
							"is not"
						],
                        values: ['INFO', 'ERROR', 'WARNING', 'DEBUG', 'TRACE', 'CRITICAL', 'SQL', 'SQL-BEGIN', 'SQL-ROLLBACK', 'SQL-COMMIT']
                    },
                    {
                        key: "Machine",
                        placeholder: "Machine",
                        operators: [
							"is",
							"is not"
						],
                        values: ['Machine-1', 'Machine-1']
                    },
                    {
                        key: "App",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "App",
                        values: ['App-1', 'App-2']
                    },
                    {
                        key: "Ip",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "IP Address",
                        values: ['Machine-1', 'Machine-2']
                    },
                    {
                        key: "Username",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "User Name",
                        values: ['User-1', 'User-2']
                    },
                    {
                        key: "ElapsedTime",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "Elapsed Time",
                        values: ['Time-1', 'Time-2']
                    },
                    {
                        key: "ThreadId",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "Thread Id",
                        values: ['Thread-1', 'Thread-2']
                    },
                    {
                        key: "ProcessId",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "Process Id",
                        values: ['Process-1', 'Process-2']
                    },
                    {
                        key: "FileName",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "File Name",
                        values: ['File-1', 'File-2']
                    },
                    {
                        key: "FunctionName",
                        operators: [
							"is",
							"is not"
						],
                        placeholder: "Function Name",
                        values: ['Function-1', 'Function-2']
                    },
                ],
                defaultquery: [
                ]

            });
        });
</script>