@using Framework.Web.HtmlHelpers
@model Framework.Infrastructure.Models.Result.ReturnListModel<LogR.Common.Models.Logs.AppLog, LogR.Common.Models.Search.AppLogSearchCriteria>

<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                App Logs
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">App Logs</li>
            </ol>
        </section>

        <!----------Breadcrumb------------>
        <section class="bg row">
            <div class="col-md-12">
                <div class="row">
                    @Html.Partial("_NewMessage", @Model)
                    <div class="well clearfix">
                        <form id="frmFilter" action="/app-logs" method="get" onkeypress="return submitForm(event)">
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="FromDate">Start Date</label>
                                <div class="controls">
                                    <input class="date row form-control" id="FromDate" name="FromDate" placeholder="Start Date" value="@Model.Search?.FromDate?.ToShortDateString()" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="ToDate">End Date</label>
                                <div class="controls">
                                    <input class="date row form-control" id="ToDate" name="ToDate" placeholder="End Date" value="@Model.Search?.ToDate?.ToShortDateString()" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="Keyword">Search Word</label>
                                <div class="controls">
                                    <input class="row form-control" id="Keyword" name="Keyword" placeholder="Search Word" value="@Model.Search.Keyword" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 pull-right form-group">
                                <input id="sortby" name="sortby" value="@Model.Search.SortBy" class="form-control" type="hidden">
                                <input id="sortascending" name="sortascending" value="@Model.Search.SortAscending" class="form-control" type="hidden">
                                <input id="pageSize" name="pageSize" value="@Model.Search.PageSize" class="form-control" type="hidden">
                                <div class="controls pull-right btn-margin-top">
                                    <input value="Filter Results" class="btn btn-primary form-control" type="submit">
                                    <input id="reset" value="Reset" class="btn btn-default form-control" type="reset">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            
                                        

                                <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:50px" class="action-cell">
                                            <input class="sr-only" type="checkbox" id="selectIDAll">
                                        </th>

                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "Longdate" }, { "DisplayName", "Date" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "Severity" }, { "DisplayName", "Severity" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "MachineName" }, { "DisplayName", "MachineName" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "App" }, { "DisplayName", "App" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "ProcessId" }, { "DisplayName", "ProcessId" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "ThreadId" }, { "DisplayName", "ThreadId" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "CurrentFunction" }, { "DisplayName", "Function" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "FunctionId" }, { "DisplayName", "FunctionId" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "UserIdentity" }, { "DisplayName", "User" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "RemoteAddress" }, { "DisplayName", "Ip" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "Result" }, { "DisplayName", "Result" } })</th>
                                        <th>@Html.Partial("_SmartLink", Model.Search, new ViewDataDictionary(ViewData) { { "ColumnName", "ElapsedTime" }, { "DisplayName", "ElapsedTime" } })</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Current in Model.Model)
                                    {
                                    <tr>
                                        <td class="action-cell"><input id="selectID" name="selectID" type="checkbox" value="@Current.AppLogId"  data-json='{"IngestJobId": "@Current.AppLogId"}' /></td>
                                            <td>@Current.Longdate.ToLocalTime()</td>
                                            <td><span class="label @Html.Partial("_logtypeclass",Current.Severity)">@Current.Severity</span></td>
                                            <td>@Current.MachineName</td>
                                            <td>@Current.App</td>
                                            <td>@Current.ProcessId</td>
                                            <td>@Current.ThreadId</td>
                                            <td>@Current.CurrentFunction</td>
                                            <td>@Current.FunctionId</td>
                                            <td>@Current.UserIdentity</td>
                                            <td>@Current.RemoteAddress</td>
                                            <td>@Current.Result</td>
                                            <td>@Current.ElapsedTime</td>
                                            <td>@Current.Message</td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            @Html.Partial("_Pager", Model.Search)
                        </div>
                    </div>
                    <!-- /.box -->
                </div>

            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.container -->
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div><!-- /.content-wrapper -->


<script type="text/javascript">

        ///////////////////////SelectAll///////////////////////
        var setCustomActionStatus = function (status) {
            $('#custom-action-btn').prop('disabled', status);
            var _isDisable = true;
            if (status) {
                $('input[name=selectID]').each(function () {
                    if (this.checked) {
                        _isDisable = false;
                        return;
                    }
                });
                if (_isDisable) {
                    $("#custom-action-btn").attr("disabled", 'disabled');
                    $("#custom-action-btn").removeClass('btn-blue').addClass('btn-black');
                }
            }
            else {
                $('#custom-action-btn').attr('disabled', false);
                $("#custom-action-btn").removeClass('btn-black').addClass('btn-blue');
            }
        };

        $("#selectIDAll").on("change", function () {
            var status = $(this).is(':checked');
            $('#custom-action-btn .dropdown-toggle').prop('disabled', !status);
            $('input[name=selectID]').each(function () {
                this.checked = status;
            });
            setCustomActionStatus(!status);
        });
        $("input[name=selectID]").on("change", function () {
            var status = $(this).is(":checked");
            setCustomActionStatus(!status);
        });
        ///////////////////////SelectAll///////////////////////

        $(document).ready(function () {
            $('#JobStatusIds').selectpicker({
                tickIcon: 'icon-ok',
                noneSelectedText: 'All States'
            });
            var FromDate = $('#FromDate').datepicker({
                format: "mm/dd/yyyy",
            }).on('changeDate', function (ev) {
                FromDate.hide();
            }).data('datepicker');
            var ToDate = $('#ToDate').datepicker({
                format: "mm/dd/yyyy"
            }).on('changeDate', function (ev) {
                ToDate.hide();
            }).data('datepicker');
            //Generate Date//
            LoadDefaultStatusDate($('#ToDate'), $('#FromDate'));
            //Generte Graph//
            LoadIngestGraph();

            $('input[name=selectID]').each(function () {
                this.checked = false;
            });
            $('input[name=selectIDAll]').each(function () {
                this.checked = false;
            });
            //
            $('#selectIDAll').prop("checked", false);
            setCustomActionStatus(true);
        });


</script>