@using Framework.Web.HtmlHelpers

@model Framework.Infrastructure.Models.Result.ReturnListModel<LogR.Common.Models.Logs.PerformanceLog, LogR.Common.Models.Search.PerformanceLogSearchCriteria>

<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Performance Logs
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Performance Logs</li>
            </ol>
        </section>

        <!----------Breadcrumb------------>
        <section class="bg row">
            <div class="col-md-12">
                <div class="row">
                    @Html.Partial("_NewMessage", @Model)
                    <div class="well clearfix">
                        <form id="frmFilter" action="/app-logs" method="get" onkeypress="return submitForm(event)">
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="FromDate">Start Date</label>
                                <div class="controls">
                                    <input class="date row form-control" id="FromDate" name="FromDate" placeholder="Start Date" value="@Model.Search?.FromDate?.ToShortDateString()" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="ToDate">End Date</label>
                                <div class="controls">
                                    <input class="date row form-control" id="ToDate" name="ToDate" placeholder="End Date" value="@Model.Search?.ToDate?.ToShortDateString()" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label" for="Keyword">Search Word</label>
                                <div class="controls">
                                    <input class="row form-control" id="Keyword" name="Keyword" placeholder="Search Word" value="@Model.Search.Keyword" type="text">
                                </div>
                            </div>
                            <div class="col-md-2 pull-right form-group">
                                <input id="sortby" name="sortby" value="@Model.Search.SortBy" class="form-control" type="hidden">
                                <input id="sortascending" name="sortascending" value="@Model.Search.SortAscending" class="form-control" type="hidden">
                                <input id="pageSize" name="pageSize" value="@Model.Search.PageSize" class="form-control" type="hidden">
                                <div class="controls pull-right btn-margin-top">
                                    <input value="Filter Results" class="btn btn-primary form-control" type="submit">
                                    <input id="reset" value="Reset" class="btn btn-default form-control" type="reset">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            

                                        

                                <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 5px"><input type="checkbox"></th>
                                        <th>Date</th>
                                        <th>MachineName</th>
                                        <th>ProcessId</th>
                                        <th>ThreadId</th>
                                        <th>User</th>
                                        <th>Ip</th>
                                        <th>App</th>
                                        <th>Module</th>
                                        <th>FunctionName</th>
                                        <th>StartTime</th>
                                        <th>ElapsedTime</th>
                                        <th>Status</th>
                                        <th>Message</th>
                                    </tr>         
                                </thead>
                                <tbody>
                          
                                     @foreach (var Current in Model.Result)
                                    {

                                            <tr>
                                            <td><input type="checkbox"></td>
                                            <td>@Current.Longdate.ToLocalTime()</td>
                                            <td>@Current.MachineName</td>
                                            <td>@Current.ProcessId</td>
                                            <td>@Current.ThreadId</td>
                                            <td>@Current.UserIdentity</td>
                                            <td>@Current.RemoteAddress</td>
                                            <td>@Current.App</td>
                                            <td>@Current.Module</td>
                                            <td>@Current.FunctionName</td>
                                            <td>@Current.StartTime</td>
                                            <td>@Current.ElapsedTime</td>
                                            <td>@Current.Status</td>
                                            <td>@Current.AdditionalMessage</td>
                                        </tr> 
                                        }
                                    </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            @Html.Partial("_Pager", Model.Search)
                        </div>
                    </div>
                    <!-- /.box -->
                </div>

            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.container -->
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div><!-- /.content-wrapper -->